.footer {
    background-color: #151d28;
    padding: 5px;
    height: 65px;
}
.footer__text {
    font-size: 1.5em;
    font-weight: 100;
    color: rgb(64 174 196);
    text-align: center;
    font-family: Creepster, cursive;
    -webkit-text-stroke: 1px #000;
    text-shadow: 2px 2px 1px rgb(185 215 64), 
                -2px -2px 1px rgb(185 215 64),
                2px -2px 1px rgb(185 215 64), 
                -2px 2px 1px rgb(185 215 64);
    position: relative;
    top: -10px;
}
.footer__text span {
    font-size: 2em;
    position: relative;
    top: 15px;
}
.footer__text a {
    color: rgb(64 174 196);
    text-decoration: none;
    -webkit-text-stroke: 1px #000;
}